.progress-bar {
    position: relative;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #202225;
}

.filler {
    background: #dddad0;
    height: 100%;
    border-radius:inherit;
    transition: width .5s ease-in;
}