#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #202225;
}

#loader-wrapper-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    border: 12px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;

    -webkit-animation: spin 3s infinite;
    animation: spin 3s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        border-radius: 50%;
        border: 8px solid #ffffff;
        border-color: #ffffff transparent #ffffff transparent;

        -webkit-animation: spin 2s infinite;
        animation: spin 2s infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        animation-direction: reverse;
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        border-radius: 50%;
        border: 4px solid #ffffff;
        border-color: #ffffff transparent #ffffff transparent;

        -webkit-animation: spin 2s infinite;
        animation: spin 2s infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}