.game-wrapper {
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.game-group {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 25%;
    margin: auto;
}

.question {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid red;
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
}

.answer-buttons {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    border: 1px solid red;
}

.answer-button {
    margin: 2.5px 2.5px;
    width: 292.5px;
    height: 65px;
    background-color: #ff7448;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat';
    padding: 17px 0;
    border: 1px solid #ff7448;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.answer-button:hover {
    background-color: #36393f;
    color: #ff7448;
}

.timer {
    width: 650px;
    height: 20px;
    margin-top: 20px;
}